/DepartamentoType.class
/EstoqueType.class
/ItemPedidoType.class
/LojaType.class
/ObjectFactory.class
/ProdutoType.class
/SalvarVendas.class
/SalvarVendasResponse.class
/StatusType.class
/VendaType.class
/Vendas.class
/VendasResponseType.class
/Vendas_Service.class
/package-info.class
